{% include "header.html" %}
<header class="masthead" style="background-image: url('https://staticlearn.shine.com/l/m/images/blog/job_search_portals.png')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
          <h1>Jobby to make easy</h1>
          <span class="subheading">Get your dream job</span>
        </div>
      </div>
    </div>
  </div>
</header>
<div class="container">
  <div class="row">
    {% for post in all_posts %}
    <div class="col-lg-3 col-md-6 mb-4">
      <a href="{{ url_for('show_post', post_id=post.id) }}" style="text-decoration:none;">
      <div class="card">
        <img src="{{post.img_url}}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5>{{post.title}}</h5>
           <p class="card-text" style="font-style:normal; font-size:15px" >Posted by
            {{post.cname}}
            on {{post.date}}
            {% if current_user.id == 1: %}
            <a href="{{url_for('delete_post', post_id=post.id) }}">Delete</a>
            {% endif %}
          </p>


        </div>
      </div>
      </a>
    </div>
    {% endfor %}

    {% if current_user.id == 1 %}
    <div class="clearfix">
      <a class="btn btn-primary float-right" href="{{url_for('add_new_post')}}">Create New Job</a>
    </div>
    {% endif %}
  </div>
</div>
<hr>
{% include "footer.html" %}
