{% include "header.html" %}
<header class="masthead" style="background-image: url('https://staticlearn.shine.com/l/m/images/blog/job_search_portals.png')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
          <h1>Jobby to make easy</h1>
          <span class="subheading">Get your dream job</span>
        </div>
      </div>
    </div>
  </div>
</header>
<h2 style="text-align:center">Recommended Jobs</h2>
<div class="container">
  <div class="row">
    {% for all_posts,match in posts.items() %}
        {% for post in all_posts %}
    <div class="col-lg-3 col-md-6 mb-4">
      <a href="{{ url_for('show_post', post_id=post.id) }}" style="text-decoration:none">
      <div class="card">
        <img src="{{post.img_url}}" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Posted by
            {{post.cname}}
            on {{post.date}}
            <h5>{{match}} % match</h5>
          </p>
        </div>
      </div>
      </a>
    </div>
    {% endfor %}
    {% endfor %}


  </div>
</div>
<hr>
{% include "footer.html" %}
